<% layout('admin/dashboard') -%>
<div class="container">   
 <div class="large-4 columns">
      <!-- Create event button section -->
      <a class="large button success right " href="/admin/fashion/create">Create Fashion</a>
      <!-- create event button section ends -->
      <a class="large button success right " href="/admin/category/create">Create Category</a>
    </div>

  <div class="large-8 columns">
    <div class="panel panel-white">
      <div class="panel-heading">
        <h4 class="panel-title">Fashions</h4>
      </div>
      <div class="panel-body">
        <div class="table-responsive project-stats">
          <table style="width: 100%">
            <thead>
              <tr>
                <th>#</th>
                <th>id</th>
                <th>Name</th>
                <th>Category</th>
                <th>Brand</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <% fashion.forEach(function(fashion, index){ %>
              <tr>
                <th scope="row"><%= index + 1 %></th>
                <td><a href="/admin/fashion/item/<%= fashion.id %>"><%= fashion.id %></a></td>
                <td><%= fashion.name %></td>
                <td><%= fashion.category %></td>
                <td><%= fashion.brand %></td>
                <td><%= fashion.desc %></td>
                <td>
                  <ul class="options">
                    <li><a href="/admin/fashion/edit/<%= fashion._id %>" title="Edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> update</a></li>
                    <li><a href="/admin/fashion/delete/<%= fashion._id %>" title="Delete"><i class="fa fa-trash" aria-hidden="true"></i>delete</a></li>
                    <li><a href="/admin/size/create/<%= fashion._id %>" title="Edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Add sizes</a></li>
                  </ul>
                </td>
              </tr>
              <%});%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

