<!DOCTYPE html>
<html>
<div class="dashboard-top-section">
  <div class="row">
    <div class="large-6 columns">
    </div>
  </div>
</div>
 <div class="large-6 columns">
      <!-- Create event button section -->
      <a class="large button success right " href="/admin/create">Create Fashion</a>
      <!-- create event button section ends -->
      <a class="large button success right " href="/admin/add">Create Category</a>
      <a class="large button success right " href="/admin/another">Create Size</a>
    </div>
<div class="row">
  <div class="large-12 medium-12 columns">
    <div class="panel panel-white">
      <div class="panel-heading">
        <h4 class="panel-title">Fashions</h4>
      </div>
      <div class="panel-body">
        <div class="table-responsive project-stats">
          <table style="width: 100%">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Stock</th>
                <th>Category</th>
                <th>Brand</th>
                <th>Description</th>
                <th>Size</th>
              </tr>
            </thead>
            <tbody>
              <% fashion.forEach(function(fashion, index){ %>
              <tr>
                <th scope="row"><%= index + 1 %></th>
                <td><%= fashion.name %></td>
                <td><%= fashion.stock %></td>
                <td><%= fashion.category %></td>
                <td><%= fashion.brand %></td>
                <td><%= fashion.desc %></td>
                <td><%= fashion.size %></td>
                <td>
                  <ul class="options">
                    <li><a href="/admin/index/edit" title="Edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> update</a></li>
                    <li><a href="/admin/delete" title="Delete"><i class="fa fa-trash" aria-hidden="true"></i>delete</a></li>
                  </ul>
                </td>
              </tr>
              <%});%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
