<% layout('pages/indexlayout') -%>
<!--content-->
<div class="blog">
<div class="container">
	<h1>Blog</h1>
			  <div class="blog-top">
			   <% blog.forEach(function(blog, index){ %>
			  <div class="col-md-6 grid_3">
					<h3><a href="/blog/item/<%= blog._id %>"><%= blog.title  %></a></h3>
					<a href="/blog/item/<%= blog._id %>"><img src="images/t1.jpg" class="img-responsive" alt=""/></a>

					<div class="blog-poast-info">
						<ul>
							<li><a class="admin" href="#"><i> </i> Admin </a></li>
							<li><span><i class="date"> </i>moment().format("MMM Do YY)</span></li>
							<li><a class="p-blog" href="#"><i class="comment"> </i>No Comments</a></li>
						</ul>
				    </div>
					<p><%= blog.content %><a href="/blog/item/<%= blog._id %>"></p>Read More</a>
				</div>
				</div>
				<%});%>
				<div class="clearfix"> </div>
		</div>
  </div>
<!--//content-->
