<% layout('pages/indexlayout') -%>
<div class="container-fluid">
    <div class="content-wrapper">
		<div class="item-container">
			<div class="container">
				<div class="col-lg-12">
				<div class="col-lg-6">
					<div class="product col-md-4 service-image-left">

						<center>
              
              <img id="item-display" src="<%= fashion.photo %>" alt=""></img></br>
                       <p>Price = $45</p>
						</center>
					</div>

					<div class="container service1-items col-sm-2 col-md-3 pull-left">
						<center>
							<a id="item-1" class="service1-item">
                <img src="<%= fashion.photo %>" alt=""></img>
							</a>
							<a id="item-2" class="service1-item">
                <img src="<%= fashion.photo %>" alt=""></img>
							</a>
							<a id="item-3" class="service1-item">
                <img src="<%= fashion.photo %>" alt=""></img>
							</a>
						</center>
					</div>
				</div>
				<div class="col-lg-6">
               <p>Price = <%= fashion.price %></p></br>
               <p>Size  = <%= fashion.size %></p></br>
               <p>Quantity = 15</p></br>

                  <a href="/fashion/pay/<%= fashion._id %>" class="btn btn-success" role="button">Get it now</a>
				</div>

				</div>

			</div>
		</div>
	</div>
</div>

