<% layout('pages/indexlayout') -%>
<div class="container-fluid">
    <div class="content-wrapper">
		<div class="item-container">
			<div class="container">
				<div class="col-lg-12">
				<div class="col-lg-6">
					<div class="product col-md-4 service-image-left">

						<center>
              
              <img id="item-display" src="<%= fashion.photo %>" alt=""></img></br>
                       <p>Price = <%= fashion.price %></p>
						</center>
					</div>

					<div class="container service1-items col-sm-2 col-md-3 pull-left">
						<center>
							<a id="item-1" class="service1-item">
                <img src="<%= fashion.photo %>" alt=""></img>
							</a>
							<a id="item-2" class="service1-item">
                <img src="<%= fashion.photo %>" alt=""></img>
							</a>
							<a id="item-3" class="service1-item">
                <img src="<%= fashion.photo %>" alt=""></img>
							</a>
						</center>
					</div>
				</div>
				<div class="col-lg-6">

            <form  action="/fashion/cart/add" method="post">
            <h3 class ="center" >Confirm Details</h3>  
            <div>
              <span>Item</span>
            <input placeholder="<%= fashion.name %>" required class="form-control" id="Name" name="name"/>
           </div>
             <div>
                  
           </div>
           <span>Quantity</span>
            <input type="text" required class="form-control" id="Stock" name="stock"/>
           </div></br></br>
           <div>
                 <button class="large button success ">Get it now</button>
           </div>
           </form>
				</div>

				</div>

			</div>
		</div>
	</div>
</div>

