<% layout('pages/navlayout') -%>
<!--content-->
<div class="container">
        <div class="logo col-sm-12 center-align mpesa">
      <a href="/paypal/:id"><img src="images/mpesa.jpg" alt=""></a>
     </div>
           <div class="col-md-12 account-top enter-align">
        <form action="/" method="post" ></br></br>
          <div>
        <div>
          <input type="hidden" name="amount" placeholder="Enter Amount" required="required" value="<%= totalPrice %>">
        </div>
      </div>
      <div>
        <p> To make payment, follow steps below.</p>
        <ol>
             <li>Go to your mpesa menu.</li>
             <li>Select Lipa na mpesa.</li>
             <li>Select Paybill.</li>
             <li>Enter Business Number .</li>
             <li>Enter account number Jenttman .</li>
             <li>Enter amount  .</li>
             <li>Enter your mpesa pin and click Ok.</li>
        <ol>
    </div>
</div>
  <h2>Order Details</h2>
  <table class="table">
    <thead>
      <tr>
        <th>PRODUCT</th>
        <th>QUANTITY</th>
        <th>SIZE</th>
        <th>AMOUNT</th>
        <th>STATUS</th>
      </tr>
    </thead>
    <tbody>
<% products.forEach(function(product){ %>
      <tr>
        <td><%= product.fashionname %></td>
        <td><%= product.qty %></td>
        <td><%= product.size %></td>
        <td>Ksh.<%= product.price %></td>
        <td>On hold</td>
      </tr>
      <% }); %>
    </tbody>
  </table>

    <h2>Customer Details</h2>
  <table class="table">

    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Country</th>
        <th>Address</th>
      </tr>
    </thead>
    <tbody>
         <% if(user) {%> 
      <tr>
        <td><%= user.fname %></td>
        <td><%= user.email %></td>
        <td><%= user.country %></td>
        <td><%= user.address %></td>
      </tr>
    </tbody>
      <%}%>
  </table>
</div>
<!--//content-->
