<% layout('pages/indexlayout') -%>
<div class="container">
    <div class="content-wrapper">
		<div class="item-container">
			<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="product col-md-4 service-image-left">
					  <center>
					   <img id="item-display" src="<%= fashion.photo %>" alt=""></img>
                       <p>Ksh.<%= fashion.price %></p>
					  </center>
					</div>

					<div class="container service1-items col-sm-2 col-md-2 pull-left">
						<center>
						  <a id="item-1" class="service1-item">
                          <img src="<%= fashion.photo %>" alt=""></img>
						  </a>
						  <a id="item-2" class="service1-item">
                          <img src="<%= fashion.photo %>" alt=""></img>
						  </a>
						  <a id="item-3" class="service1-item">
                          <img src="<%= fashion.photo %>" alt=""></img>
						  </a>
						</center>
					</div>
				</div>

				<div class="col-md-6">
                    <div class="product-title"> <h>Name : </h><%= fashion.name %></div>
					  <div class="product-rating"><i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star-o"></i> </div>
					<hr>
					  <div>

					  <div class="btn-group cart">
<style>
  .sizes{
    background:#f5f5f5;
    border:0.5px solid #424242;
    border-radius:4px;
    padding:5px;
    color:black;
  }
  .checked {
    color:white;
    background:black;
  }
</style>
<p><i>Select size to add item to cart</i></p>
                  <% sizes.forEach(function(size){ %>

                  <a class="continue btn" href="/add-to-cart/<%= fashion._id %>/<%= size._id %>"><%= size.name %></a>
                  <% }); %>
					</div>
					</hr>
				</div>
			</div>
		</div>

			<div class="product-info">
					<ul id="myTab" class="nav nav-tabs nav_tabs">
                        <li class="active"><a href="#service-one" data-toggle="tab">DESCRIPTION</a></li>
						<li><a href="#service-two" data-toggle="tab">PRODUCT INFO</a></li>
						<li><a href="#service-three" data-toggle="tab">REVIEWS</a></li>
					</ul>
			<div id="myTabContent" class="tab-content">
						<div class="tab-pane fade in active" id="service-one">
                        	<section class="container product-info">
							<div class="product-desc"><%= fashion.desc %></div>
							</section>
						    </div>
					        <div class="tab-pane fade" id="service-two">
                            <section class="container">
                            </section>
					        </div>
					        <div class="tab-pane fade" id="service-three">
                            </div>
                  </div>
				</div>
			</hr>
      </div>
   </div>
 </div>
 </div>
