<% layout('pages/indexlayout') -%>
<div class="container-fluid">
    <div class="content-wrapper">
		<div class="item-container">
			<div class="container">
				<div class="col-md-12">
					<div class="product col-md-3 service-image-left">

						<center>
              
              <img id="item-display" src="<%= fashion.photo %>" alt=""></img>
              <p><%= fashion.price %></p>
						</center>
					</div>

					<div class="container service1-items col-sm-2 col-md-2 pull-left">
						<center>
							<a id="item-1" class="service1-item">
                <img src="<%= fashion.photo %>" alt=""></img>
							</a>
							<a id="item-2" class="service1-item">
                <img src="<%= fashion.photo %>" alt=""></img>
							</a>
							<a id="item-3" class="service1-item">
                <img src="<%= fashion.photo %>" alt=""></img>
							</a>
						</center>
					</div>
				</div>
				<div class="col-md-7">
          <div class="product-title"><%= fashion.name %></div>
					<div class="product-desc">Round Toe Lace Up Black Leather Dress Shoes</div>
					<div class="product-rating"><i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star-o"></i> </div>
					<hr>
				<p><b>Available Brands</b></p>
          <div class="product-price"><%= fashion.brand %></div>
             <p><b>Available Sizes</b></p>
					<div class="product-stock">
            <% sizes.forEach(function(size){ %>
            <div><%= size.name %> = <%= size.stock %> </div>
            <% }); %>
          
          </div>
					<hr>
					<div class="btn-group cart">
					<a href="/fashion/cart/<%= fashion._id %>" class="btn btn-success" role="button">Add to cart</a>
					</div>
					<div class="btn-group wishlist">
						<button type="button" class="btn btn-danger">
							Add to wishlist
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="col-md-12 product-info">
					<ul id="myTab" class="nav nav-tabs nav_tabs">

						<li class="active"><a href="#service-one" data-toggle="tab">DESCRIPTION</a></li>
						<li><a href="#service-two" data-toggle="tab">PRODUCT INFO</a></li>
						<li><a href="#service-three" data-toggle="tab">REVIEWS</a></li>

					</ul>
				<div id="myTabContent" class="tab-content">
						<div class="tab-pane fade in active" id="service-one">

							<section class="container product-info">
							<div class="product-desc"><%= fashion.desc %></div>
								
							</section>

						</div>
					<div class="tab-pane fade" id="service-two">

						<section class="container">

						</section>

					</div>
					<div class="tab-pane fade" id="service-three">

					</div>
				</div>
				<hr>
			</div>
		</div>
	</div>
</div>

